/* body{
  background-image: url('images/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
h1{
font-family: 'Gloria Hallelujah', cursive;
font-size: 35px;
text-align: center;

}
p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-align: center;
}
body{
padding:15px;
border:10px solid cyan;
margin:20px;
}
#result{

}
/* body{
background-image: image(images/smokes.jpg);
} */
body{background-image: image(/home/user/Desktop/Triangle-tracker/images/stack-438421_1280.jpg);
}
