body{
  background-image: image(/home/user/Desktop/Triangle-tracker/images/abstract-background-blur-255379 (1).jpg);
}
h1{
font-family: 'Gloria Hallelujah', cursive;
font-size: 35px;
text-align: center;

}
p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-align: center;
}
body{
padding:15px;
border:10px solid cyan;
margin:20px;
}
